{
  "tabWidth": 2,
  "printWidth": 100,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "^(?!@/)^(react|.*react)(.(?!.*css$|.*scss$))*$",
    "<THIRD_PARTY_MODULES>",
    "^(@/)(?!pages|components|assets|layouts|contexts|guards|minimals|App|Router)(.(?!.*/use[\\w]*$))*$",
    "^(@/).*/use[\\w]*$",
    "^(@/minimals)(.*)$",
    "^(@/guards)(.*)$",
    "^(@/contexts)(.*)$",
    "^(@/layouts)(.*)$",
    "^(@/components/|@/App|@/Router)(.*)$",
    "^(@/pages)(.*)$",
    "^(@/assets)(.*)$",
    "(svg|jpg|jpeg|png)$",
    "^(?!@|\\./).*(scss|css)$",
    "(scss|css)$"
  ],
  "importOrderSeparation": true
}